<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="customer_save_after_data_object">
        <observer name="customer_save_after_observer"
                  instance="Mini2\Linh\Observer\CustomerChangeVendor" />
    </event>


<!--    <event name="movie_save_after">-->
<!--        <observer name="movie_save_after_observer"-->
<!--                  instance="Magenest\Movie\Observer\MovieChangeRating" />-->
<!--    </event>-->


<!--    <event name="admin_system_config_changed_section_movie">-->
<!--        <observer name="custom_admin_system_config_changed_section_movie"-->
<!--                  instance="Magenest\Movie\Observer\ConfigChange"/>-->
<!--    </event>-->

</config>
